.carddiv {
  border: 10px solid red;
  background-color: red;
  height: 200%;
}
.sectioncard {
  background-color: white;
  width: 98%;
  margin-left: 0.8%;
  display: flex;
  margin-top: 1%;
}
.sectionimgdiv {
  margin: 20px;
  background-color: white;
  margin-left: 30%;
  padding: 2px 20px 50px 85px;
  margin-top: 10%;
}
p {
  padding-left: -0.4rem;
  margin: 0;
  text-align: center;
  margin-left: 6%;
}
