.blockquote2
{
    
   background-image: url('../assets/Images/Blue-Design-Abstract.jpg');
    height: 100%;
    width: 110%;
    padding: 20px 20px 50px 0px;
    margin-top: -6%;
    margin-left: -5%;
}
.contactustitle
{
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 25px;
}
h2
{
    margin-left: 22%;
    font-size: 15px;
    color: white;
    margin-top: 2%;
}
.logo
{
    height: 10%;
    width: 10%;
    margin-left: 80%;
}
.logo1
{
    height: 10%;
    width: 10%;
    margin-left: 80%;
}
.demo3
{
     
    border:10px solid red;
    margin-top:'-100%';
    height:300px;
    width:100%;
    background-color: red;
}
