.img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 2%;
  }
  .forgotaccount
   {
    font-size: 20px;
    color: blue;
    margin-top: -5%;
    margin-left: 5%;
  }
  