//header
.navbar-brand {
  font-size: 18px;
  color: white;
}
.envelope {
  height: 13px;
}
.phone {
  font-size: 15px;
}
.loginlink {
  color: white;
  margin-left: 900%;
  font-size: 20px;
  transition:o.5 ease-out;
}
.homelink {
  margin-left: 20%;
  font-size: 20px;
}
.seperator {
  margin-left: 230%;
  margin-top: 2%;
}
.signup {
  color: white;
  font-size: 20px;
}
.cart {
  margin-left: 50%;
  margin-top: 2%;
  height: 30px;
  width: 30px;
}

.addspan {
  position: absolute;
  right: 13px;
  z-index: 1;
  top: 2px;
  background-color: red;
  width: 21px;
  border-radius: 50%;
  display: inline-block;
  color: white;
  height: 20px;
  text-align: center;
  font-size: 15px;
}