.navbar-brand {
  font-size: 15px;
}
.envelope {
  height: 13px;
}
.phone {
  font-size: 15px;
}
.loginlink {
  color: white;
  margin-left: 1900%;
}
.seperator {
  margin-left: 630%;
}
.signup {
  color: white;
}
.cart {
  margin-top: 0.5%;
  margin-left: 64%;
}
