.navbar-brand
{
    font-size: 15px;
    
}
.envelope
{
    height: 13px;
}
.phone
{
   font-size:15px;
}
.loginlink
{
      color: white;
      margin-left:1400%;
}
.seperator
{
    margin-left:460%;
}
.signup
{
     color: white;
}
.cart
{
    margin-Top:1%;
    margin-left:63%;
}
