//login

.row {
  background-color: white;
  border-radius: 30px;
}
.passworderror {
  font-size: 16px;
  color: red;
  margin-top: -10px;
}
.passerror {
  font-size: 16px;
  color: red;
  margin-top: -10px;
}
.img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 15%;
}
.container-fluid {
  margin-top: "20%";
  height: "20%";
  width: "50%";
}
.btnlogin {
  background-color: rgb(59, 56, 233);
  color: white;
  height: 40px;
  width: 60%;
  margin-left: -2%;
  border-radius: 2px;
  margin-top: -15%;
}

.btnotp {
  background-color: rgb(59, 56, 233);
  color: white;
  height: 40px;
  width: 60%;
  margin-left: -2%;
  border-radius: 2px;
  margin-top: -5%;
}
input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid gray;
}

.loginaccount {
  font-size: 20px;
  color: blue;
}
.forgot {
  margin-top: -10%;
  color: blue;
}
.loginp {
  color: blue;
  font-size: 20px;
  margin-left: 8%;
}
.line {
  margin-left: -2%;
  margin-top: 2%;
}
.loginin {
  margin-top: -1%;
  color: blue;
  font-size: 30px;
  margin-left: 10%;
}
h4 {
  margin-top: -10%;
}
//signup

.row {
  background-color: white;
  border-radius: 30px;
}
.Error
{
  font-size: 17px;
  color: red;
}
.img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 20%;
}
.container-fluid {
  margin-top: "20%";
  height: "40%";
  width: "50%";
}
.btncontinue {
  background-color: rgb(59, 56, 233);
  color: white;
  height: 50px;
  width: 60%;
  margin-left: -1%;
  border-radius: 4px;
  margin-top: -8%;
}

input[type="tel"] {
  border: none;
  border-bottom: 2px solid gray;
}
input:focus {
  outline: none;
}
.asign {
  margin-left: 10%;
  font-size: 20px;
  margin-top: 50px;
}

.signupdiv {
  margin-top: 2%;
  margin-left: 8%;
  font-size: 30px;
  color: blue;
}
.psignup {
  color: blue;
  font-size: 20px;
  margin-left: 8%;
}
.existinglin {
  font-size: 20px;
  color: blue;
  margin-top: -5%;
  margin-left: 5%;
}
//header
.navbar-brand {
  font-size: 18px;
  color: white;
}
.envelope {
  height: 13px;
}
.phone {
  font-size: 15px;
}
.loginlink {
  color: white;
  margin-left: 900%;
  font-size: 20px;
}
.homelink {
  margin-left: 20%;
  font-size: 20px;
}
.seperator {
  margin-left: 230%;
  margin-top: 2%;
}
.signup {
  color: white;
  font-size: 20px;
}
.cart {
  margin-left: 50%;
  margin-top: 2%;
  height: 30px;
  width: 30px;
}

.addspan {
  position: absolute;
  right: 13px;
  z-index: 1;
  top: 2px;
  background-color: red;
  width: 21px;
  border-radius: 50%;
  display: inline-block;
  color: white;
  height: 20px;
  text-align: center;
  font-size: 15px;
}
//forgot
.img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 2%;
}
.forgotaccount
 {
  font-size: 20px;
  color: blue;
  margin-top: -5%;
  margin-left: 5%;
}
