//logocomponent
.demo
{
   border:  solid 15px red;
 margin-top:'3%';
   height:500px;
   width:100%;
}

//AboutPage
.blockquote
{
   background-image: url('../assets/Images/Blue-Design-Abstract.jpg');
  // background-color: blue;
   height: 100%;
   width: 110%;
    padding: 20px 20px 50px 50px;
    margin-top: -10%;
    margin-left: 5%;
  
}
//navbar
.navbar
{
    
     height: 40px;

}
a
{
    color: white;
}


h1{
    color: white;
    margin-top: -2%;
    text-align: center;
}
.about
{
    color: white;
    margin-left: 5%;
}
.demo1
{
    border:10px solid red;
    margin-top:'-100%';
    height:300px;
    width:100%;
    background-color: red;
}
//ConactUs
.blockquote
{
    background-color: blue;
    height: 100%;
    width: 110%;
    padding: 20px 20px 50px 0px;
    margin-top: 5%;
    margin-left: -5%;
}
h1{
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 25px;
}
h2
{
    margin-left: 22%;
    font-size: 15px;
    color: white;
    margin-top: 2%;
}
.logo
{
    height: 10%;
    width: 10%;
    margin-left: 80%;
}
.logo1
{
    height: 10%;
    width: 10%;
    margin-left: 80%;
}
.demo3
{
     
    border:10px solid red;
    margin-top:'-100%';
    height:300px;
    width:100%;
    background-color: red;
}
//ourPurpose

.blockquote
{
    background-color: blue;
    height: 100%;
    width: 110%;
    padding: 20px 20px 50px 0px;
    margin-top: 5%;
    margin-left: -5%;
   
}
h1{
    color: white;
    margin-top: 2%;
    text-align: center;
}
.ourpurpose
{
    color: white;
    margin-left: 5%;
}
.demo2
{
    
    border:10px solid red;
    margin-top:'-100%';
    height:300px;
    width:100%;
    background-color: red;
}
//logo
.img
{
    height:150px;
    width:200px;
    margin-Top:-30%;
    margin-Bottom:2%
}
